In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('countries.csv')

In [3]:
df_2007 = df[df['year'] == 2007]

KeyError: 'year'

In [ ]:
asia_2007 = df_2007[df_2007['continent']=='Asia']
europe_2007 = df_2007[df_2007['continent']=='Europe']

In [ ]:
plt.subplot(2,1,1)
plt.title('GDP Per Capita')
plt.hist(asia_2007['gdpPerCapita'],20, range=(0,50000),edgecolor = 'Black')
plt.ylabel('Asia')
plt.subplot(2,1,2)
plt.hist(europe_2007['gdpPerCapita'], 20, range=(0,50000), edgecolor = 'Black')
plt.ylabel('Europe');

### Compare Life Expectancy of Europe and America in 1997?

In [ ]:
df_1997 = df[df['year']== 1997]

In [ ]:
Europe_1997 = df_1997[df_1997['continent']=='Europe']
America_1997 = df_1997[df_1997['continent']=='Americas']

In [ ]:
df['continent'].unique()

In [ ]:
print(len(set(Europe_1997['country'])))
print(len(set(America_1997['country'])))

In [ ]:
print('mean lifeExpectancy of Europe')
print(Europe_1997['lifeExpectancy'].mean())
print('mean lifeExpectancy of America')
print(America_1997['lifeExpectancy'].mean())
print('median lifeExpectancy of Europe')
print(Europe_1997['lifeExpectancy'].median())
print('median lifeExpectancy of America')
print(America_1997['lifeExpectancy'].median())

In [ ]:
plt.subplot(2,1,1)
plt.title('LifeExpectancy in 1997')
plt.hist(Europe_1997['lifeExpectancy'],10, range = (55,85),edgecolor = 'Black')
plt.ylabel('Europe')
plt.subplot(2,1,2)
plt.hist(America_1997['lifeExpectancy'],10, range = (55,85), edgecolor = 'Black')
plt.ylabel('America');

In [ ]:
America_1997[America_1997['lifeExpectancy']<65]['country']

0       779
1       820
2       853
3       836
4       739
       ...
1699    706
1700    693
1701    792
1702    672
1703    469
Name: gdpPerCapita, Length: 1704, dtype: int32

In [36]:
df

0       779
1       820
2       853
3       836
4       739
       ...
1699    706
1700    693
1701    792
1702    672
1703    469
Name: gdpPerCapita, Length: 1704, dtype: int32

In [26]:
flights =  pd.read_csv(r'C:\Users\UPAHAR\Desktop\PYTHON\flight_delays.csv')

In [29]:
flights[pd.isnull(flights['US'])]

,Month,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
6,7,3.870440,0.377408,5.841454,1.204862,6.926421,14.464543,2.001586,3.980289,14.352382,6.790333,10.262551,NaN,7.135773,10.504942
7,8,3.193907,2.503899,9.280950,0.653114,5.154422,9.175737,7.448029,1.896565,20.519018,5.606689,5.014041,NaN,5.106221,5.532108
8,9,-1.432732,-1.813800,3.539154,-3.703377,0.851062,0.978460,3.696915,-2.167268,8.000101,1.530896,-1.794265,NaN,0.070998,-1.336260
9,10,-0.580930,-2.993617,3.676787,-5.011516,2.303760,0.082127,0.467074,-3.735054,6.810736,1.750897,-2.456542,NaN,2.254278,-0.688851
10,11,0.772630,-1.916516,1.418299,-3.175414,4.415930,11.164527,-2.719894,0.220061,7.543881,4.925548,0.281064,NaN,0.116370,0.995684
11,12,4.149684,-1.846681,13.839290,2.504595,6.685176,9.346221,-1.706475,0.662486,12.733123,10.947612,7.012079,NaN,13.498720,6.720893

In [31]:
flights['US'].fillna('unknown', inplace = True)

In [32]:
flights

,Month,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
0,1,6.955843,-0.320888,7.347281,-2.043847,8.537497,18.357238,3.512640,18.164974,11.398054,10.889894,6.352729,3.10746,1.420702,3.389466
1,2,7.530204,-0.782923,18.657673,5.614745,10.417236,27.424179,6.029967,21.301627,16.474466,9.588895,7.260662,7.11446,7.784410,3.501363
2,3,6.693587,-0.544731,10.741317,2.077965,6.730101,20.074855,3.468383,11.018418,10.039118,3.181693,4.892212,3.33079,5.348207,3.263341
3,4,4.931778,-3.009003,2.780105,0.083343,4.821253,12.640440,0.011022,5.131228,8.766224,3.223796,4.376092,2.66029,0.995507,2.996399
4,5,5.173878,-1.716398,-0.709019,0.149333,7.724290,13.007554,0.826426,5.466790,22.397347,4.141162,6.827695,0.681605,7.102021,5.680777
5,6,8.191017,-0.220621,5.047155,4.419594,13.952793,19.712951,0.882786,9.639323,35.561501,8.338477,16.932663,5.7663,5.779415,10.743462
6,7,3.870440,0.377408,5.841454,1.204862,6.926421,14.464543,2.001586,3.980289,14.352382,6.790333,10.262551,unknown,7.135773,10.504942
7,8,3.193907,2.503899,9.280950,0.653114,5.154422,9.175737,7.448029,1.896565,20.519018,5.606689,5.014041,unknown,5.106221,5.532108
8,9,-1.432732,-1.813800,3.539154,-3.703377,0.851062,0.978460,3.696915,-2.167268,8.000101,1.530896,-1.794265,unknown,0.070998,-1.336260
9,10,-0.580930,-2.993617,3.676787,-5.011516,2.303760,0.082127,0.467074,-3.735054,6.810736,1.750897,-2.456542,unknown,2.254278,-0.688851
10,11,0.772630,-1.916516,1.418299,-3.175414,4.415930,11.164527,-2.719894,0.220061,7.543881,4.925548,0.281064,unknown,0.116370,0.995684
11,12,4.149684,-1.846681,13.839290,2.504595,6.685176,9.346221,-1.706475,0.662486,12.733123,10.947612,7.012079,unknown,13.498720,6.720893

In [38]:
flights['US'].replace('unknown', 'no value')

0      3.10746
1      7.11446
2      3.33079
3      2.66029
4     0.681605
5       5.7663
6     no value
7     no value
8     no value
9     no value
10    no value
11    no value
Name: US, dtype: object