In [1]:
# dataframe
# pivot table
# tolist
# Truncate
# loc and iloc

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import DataFrame, Series, read_csv
%matplotlib inline

In [3]:
sales_filepath = '../DATAjupyter/Superstore-Sales.csv'

In [4]:
# parse_date will make 1/1/2021 to 2021-01-01 a proper date format.
sales = read_csv(sales_filepath,encoding= 'unicode_escape', parse_dates = ["Ship Date"])#.dropna(how ="all")

sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8397 entries, 0 to 8396
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                8397 non-null   int64
 1   Order ID              8397 non-null   int64
 2   Order Date            8397 non-null   object
 3   Order Priority        8397 non-null   object
 4   Order Quantity        8397 non-null   int64
 5   Sales                 8397 non-null   float64
 6   Discount              8397 non-null   float64
 7   Ship Mode             8397 non-null   object
 8   Profit                8397 non-null   float64
 9   Unit Price            8397 non-null   float64
 10  Shipping Cost         8397 non-null   float64
 11  Customer Name         8397 non-null   object
 12  Province              8397 non-null   object
 13  Region                8397 non-null   object
 14  Customer Segment      8397 non-null   object
 15  Product Category      8397 non-null   object
 16  Product Sub-Category  8397 non-null   object
 17  Product Name          8397 non-null   object
 18  Product Container     8397 non-null   object
 19  Product Base Margin   8334 non-null   float64
 20  Ship Date             8397 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(3), object(11)
memory usage: 1.3+ MB

In [5]:
sales.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Profit', 'Unit Price',
       'Shipping Cost', 'Customer Name', 'Province', 'Region',
       'Customer Segment', 'Product Category', 'Product Sub-Category',
       'Product Name', 'Product Container', 'Product Base Margin',
       'Ship Date'],
      dtype='object')

In [6]:
renamed =  sales.rename(columns = {'Row ID':'Row_ID', 'Order ID':'Order_ID','Order Date':'Order_Date','Order Priority':'Order_Priority', 'Order Quantity':'Order_Quantity','Ship Mode':'Ship_Mode', 'Unit Price':'Unit_Price',
       'Shipping Cost':'Shipping_Cost', 'Customer Name':'Customer_Name', 'Customer Segment':'Customer_Segment', 'Product Category':'Product_Category', 'Product Sub-Category':'Product_Sub-Category',
       'Product Name':'Product_Name', 'Product Container':'Product_Container', 'Product Base Margin':'Product_Base_Margin',
       'Ship Date': 'Ship_Date' }, inplace = True)

In [7]:
# better way to rename by looping and replace.


#for x in sales.columns:
 #   replace(' ', '_')

In [8]:
sales.head(2)

,Row_ID,Order_ID,Order_Date,Order_Priority,Order_Quantity,Sales,Discount,Ship_Mode,Profit,Unit_Price,...,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub-Category,Product_Name,Product_Container,Product_Base_Margin,Ship_Date
0,1,3,10/13/2010,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,10/1/2012,High,49,10123.02,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02

### pivot table

In [9]:
sales.pivot(index ='Row_ID', columns ='Region', values ='Sales')

Region,Atlantic,Northwest Territories,Nunavut,Ontario,Prarie,Quebec,West,Yukon
Row_ID,,,,,,,,
1,NaN,NaN,261.54,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,6.9300,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,2808.0800,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,1761.4000,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,160.2335,NaN
...,...,...,...,...,...,...,...,...
8395,NaN,NaN,NaN,NaN,NaN,NaN,437.7700,NaN
8396,NaN,NaN,NaN,NaN,NaN,NaN,514.8600,NaN
8397,NaN,NaN,NaN,NaN,NaN,NaN,356.2700,NaN
8398,NaN,NaN,NaN,NaN,11039.750,NaN,NaN,NaN
8399,NaN,NaN,NaN,NaN,4982.944,NaN,NaN,NaN

In [10]:
sales.pivot_table(index=['Customer_Segment', 'Region'], columns = "Product_Category", values= 'Profit', aggfunc ='sum')

Product_Category                        Furniture  Office Supplies  Technology
Customer_Segment Region
Consumer         Atlantic                 3407.10         18445.24    63232.62
                 Northwest Territories   -1557.90           343.53    12434.54
                 Nunavut                  3428.65           612.44         NaN
                 Ontario                   392.46          8203.57    16883.48
                 Prarie                   6182.58         24562.15    29838.04
                 Quebec                   4757.14         12793.00    14154.17
                 West                    26498.67         14372.88    27115.06
                 Yukon                    -380.44          9199.48    -6958.52
Corporate        Atlantic                -3338.83         23865.22    23575.19
                 Northwest Territories    6626.43         10721.62    26229.08
                 Nunavut                  -337.46         -2739.07     1723.72
                 Ontario                  1257.87         55970.31    79111.51
                 Prarie                  12835.45         22447.97   133728.25
                 Quebec                   -919.65         15826.73    38006.30
                 West                     9619.56         67720.17    62505.06
                 Yukon                   -3735.29          9224.43     9821.43
Home Office      Atlantic                11753.71          6536.52    44905.96
                 Northwest Territories   -6867.60          5761.89    11630.53
                 Nunavut                   387.69           -92.45      762.53
                 Ontario                 23923.74         62496.03    42760.39
                 Prarie                   9273.57         19714.54    26218.03
                 Quebec                  -3603.31          7153.41    21253.34
                 West                   -19312.85         20420.77     6557.53
                 Yukon                    8424.25          -845.06    19140.87
Small Business   Atlantic                 3523.67         18123.49    24930.77
                 Northwest Territories    9250.31         20167.02     5913.63
                 Nunavut                      NaN          -994.02         NaN
                 Ontario                 -5687.16         26542.85    35013.49
                 Prarie                   2259.62         16535.04    17564.88
                 Quebec                   -994.95          7209.03    24791.44
                 West                    14119.26         14153.03    53239.47
                 Yukon                    6246.74          3480.59    20230.73

In [11]:
df_dict =  pd.DataFrame({
    'id': [100,200,300], 'color': ['red','blue','green']
}, columns =['id','color'], index = ['a','b','c'])

df_dict

    id  color
a  100    red
b  200   blue
c  300  green

In [12]:
# note that each inner bracket treat as rows.
df_list = pd.DataFrame([[100, 'red'], [200,'blue'],[300,'green']], columns= ['id','colour'])
df_list

    id colour
0  100    red
1  200   blue
2  300  green

In [13]:
# compare list with dic
print(df_dict)
print()
print(df_list)

    id  color
a  100    red
b  200   blue
c  300  green

    id colour
0  100    red
1  200   blue
2  300  green

In [14]:
sales.dtypes.value_counts()

object            11
float64            6
int64              3
datetime64[ns]     1
dtype: int64

In [15]:
sales.index

RangeIndex(start=0, stop=8397, step=1)

In [16]:
# Create a list of province.
sales['Province'].tolist()[1:10]

['Nunavut',
 'Nunavut',
 'Nunavut',
 'Nunavut',
 'Nunavut',
 'Nunavut',
 'Nunavut',
 'Nunavut',
 'Nunavut']

In [17]:
sales['Province'].to_frame()

     Province
0     Nunavut
1     Nunavut
2     Nunavut
3     Nunavut
4     Nunavut
...       ...
8392  Alberta
8393  Alberta
8394  Alberta
8395  Alberta
8396  Alberta

[8397 rows x 1 columns]

In [18]:
# ",".join(str(x) for x in sales['Province'])

### Sample

In [19]:
sales.head()

,Row_ID,Order_ID,Order_Date,Order_Priority,Order_Quantity,Sales,Discount,Ship_Mode,Profit,Unit_Price,...,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub-Category,Product_Name,Product_Container,Product_Base_Margin,Ship_Date
0,1,3,10/13/2010,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,10/1/2012,High,49,10123.0200,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
2,50,293,10/1/2012,High,27,244.5700,0.01,Regular Air,46.71,8.69,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-DÂ® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03
3,80,483,7/10/2011,High,30,4965.7595,0.08,Regular Air,1198.97,195.99,...,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12
4,85,515,8/28/2010,Not Specified,19,394.2700,0.08,Regular Air,30.94,21.78,...,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,2010-08-30

In [20]:
# axis = 'rows' will select 5 rows randomly.

sales.sample(5, axis = "rows")

,Row_ID,Order_ID,Order_Date,Order_Priority,Order_Quantity,Sales,Discount,Ship_Mode,Profit,Unit_Price,...,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub-Category,Product_Name,Product_Container,Product_Base_Margin,Ship_Date
940,3368,24070,3/15/2011,High,36,170.420,0.10,Regular Air,-98.31,4.91,...,Sonia Sunley,British Columbia,West,Corporate,Office Supplies,Binders and Binder Accessories,"Pressboard Covers with Storage Hooks, 9 1/2"" x...",Small Box,0.38,2011-03-16
1298,7587,54304,2/17/2010,High,11,558.620,0.03,Regular Air,118.32,48.58,...,Justin Hirsh,Nova Scotia,Atlantic,Consumer,Office Supplies,Appliances,Belkin Premiere Surge Master II 8-outlet surge...,Small Box,0.56,2010-02-19
1148,3426,24450,7/9/2012,Critical,41,392.610,0.08,Express Air,-100.15,9.48,...,Kristina Nunn,British Columbia,West,Consumer,Furniture,Office Furnishings,"DAX Two-Tone Rosewood/Black Document Frame, De...",Small Pack,0.45,2012-07-12
7270,7627,54564,12/6/2010,High,27,1553.868,0.04,Express Air,322.51,65.99,...,Brendan Murry,British Columbia,West,Corporate,Technology,Telephones and Communication,252,Small Box,0.55,2010-12-08
7265,7591,54336,4/15/2010,Medium,50,952.210,0.05,Regular Air,403.83,18.84,...,Alejandro Savely,British Columbia,West,Corporate,Furniture,Office Furnishings,Flat Face Poster Frame,Wrap Bag,0.43,2010-04-17

In [21]:
# axis = 'columns' will select 5 columns randomly.

sales.sample(5, axis = "columns")

,Discount,Customer_Segment,Sales,Product_Name,Row_ID
0,0.04,Small Business,261.5400,"Eldon Base for stackable storage shelf, platinum",1
1,0.07,Consumer,10123.0200,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",49
2,0.01,Consumer,244.5700,"Cardinal Slant-DÂ® Ring Binder, Heavy Gauge Vinyl",50
3,0.08,Corporate,4965.7595,R380,80
4,0.08,Consumer,394.2700,Holmes HEPA Air Purifier,85
...,...,...,...,...,...
8392,0.05,Consumer,1294.0400,Bush Mission Pointe Library,7765
8393,0.04,Consumer,392.5700,Recycled Interoffice Envelopes with Re-Use-A-S...,7766
8394,0.03,Home Office,823.7800,"Executive Impressions 14""",7906
8395,0.00,Home Office,469.8375,Talkabout T8367,7907
8396,0.10,Consumer,2026.0100,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",7914

### Truncate

In [28]:
sales.truncate(before = 2000, after = 2010, axis ='rows').head(2)

,Row_ID,Order_ID,Order_Date,Order_Priority,Order_Quantity,Sales,Discount,Ship_Mode,Profit,Unit_Price,...,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub-Category,Product_Name,Product_Container,Product_Base_Margin,Ship_Date
2000,751,5381,1/28/2010,Low,27,63.87,0.09,Regular Air,-149.93,2.18,...,Edward Nazzal,Ontario,Ontario,Home Office,Office Supplies,Paper,"AmpadÂ® EvidenceÂ® Wirebond Steno Books, 6"" x 9""",Wrap Bag,0.38,2010-02-04
2001,759,5444,3/17/2011,Critical,2,885.94,0.08,Regular Air,-2024.08,449.99,...,Frank Carlisle,Ontario,Ontario,Small Business,Technology,Copiers and Fax,Canon PC940 Copier,Large Box,0.52,2011-03-19

In [23]:
#sales.truncate(before = "Order_Date", after = "Profit", axis ="columns")

### LOC and ILOC
- LOC is location of data on dataframe. it is label.
- ILOC meand integer location meaning data on the dataframe is found out by integer rows and columns.
- pd.loc is wrong as it is dataframe method. 
- df.loc is right.

In [29]:
sales.head(2)

,Row_ID,Order_ID,Order_Date,Order_Priority,Order_Quantity,Sales,Discount,Ship_Mode,Profit,Unit_Price,...,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub-Category,Product_Name,Product_Container,Product_Base_Margin,Ship_Date
0,1,3,10/13/2010,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,10/1/2012,High,49,10123.02,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02

In [25]:
sales.iloc[0:3] # use like .head()

,Row_ID,Order_ID,Order_Date,Order_Priority,Order_Quantity,Sales,Discount,Ship_Mode,Profit,Unit_Price,...,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub-Category,Product_Name,Product_Container,Product_Base_Margin,Ship_Date
0,1,3,10/13/2010,Low,6,261.54,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,10/1/2012,High,49,10123.02,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
2,50,293,10/1/2012,High,27,244.57,0.01,Regular Air,46.71,8.69,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-DÂ® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03

In [26]:
sales.loc[sales["Order_Priority"] == "Low"].head()

,Row_ID,Order_ID,Order_Date,Order_Priority,Order_Quantity,Sales,Discount,Ship_Mode,Profit,Unit_Price,...,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub-Category,Product_Name,Product_Container,Product_Base_Margin,Ship_Date
0,1,3,10/13/2010,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
9,107,678,2/26/2010,Low,44,228.4100,0.07,Regular Air,-226.36,4.98,...,Dorothy Badders,Nunavut,Nunavut,Home Office,Office Supplies,Paper,Xerox 198,Small Box,0.38,2010-02-26
17,203,1344,4/15/2012,Low,15,834.9040,0.06,Regular Air,-11.68,65.99,...,Jim Radford,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,g520,Small Box,0.59,2012-04-22
18,204,1344,4/15/2012,Low,18,2480.9205,0.01,Regular Air,313.58,155.99,...,Jim Radford,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,LX 788,Small Box,0.58,2012-04-19
21,229,1539,3/9/2011,Low,33,511.8300,0.10,Regular Air,-172.88,15.99,...,Carl Ludwig,Nunavut,Nunavut,Corporate,Office Supplies,Binders and Binder Accessories,"GBC Pre-Punched Binding Paper, Plastic, White,...",Small Box,0.37,2011-03-11

In [27]:
sales.head()

,Row_ID,Order_ID,Order_Date,Order_Priority,Order_Quantity,Sales,Discount,Ship_Mode,Profit,Unit_Price,...,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub-Category,Product_Name,Product_Container,Product_Base_Margin,Ship_Date
0,1,3,10/13/2010,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,10/1/2012,High,49,10123.0200,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
2,50,293,10/1/2012,High,27,244.5700,0.01,Regular Air,46.71,8.69,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-DÂ® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03
3,80,483,7/10/2011,High,30,4965.7595,0.08,Regular Air,1198.97,195.99,...,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12
4,85,515,8/28/2010,Not Specified,19,394.2700,0.08,Regular Air,30.94,21.78,...,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,2010-08-30